@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* || RESET */
*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 30%;
    height: auto;
}

input, button {
    font: inherit;
}

/* || VARIABLES */

:root{


    /* FONTS */
    --FF: "Poppins", sans-serif;
    --FS: clamp(1em, 2.2vh, 1.5em);
    --FW: 900;

    /* COLORS */
    --HEADER-BG-COLOR: #143AA2;
    --ABOUT-BG-COLOR: rgba(4, 6, 13, 0.9);
    --CONTACT-BG-COLOR: #3E8DE3;
    --FONT-COLOR: #FFF;

    /* PADDING */
    --PADDING-TB: 2%;
    --PADDING-SIDE: 2%;

    /* MARGING */   
    --MARGING-TB: 2%;
    --MARGIN-SIDE: 2%;

    /* BORDERS */
    --BORDER-CLASSIC: 1px solid rgb(246, 242, 242);
    --BORDER-RADIUS: 10px;
    --BOX-SHADOW: 5px 4px 4px rgba(0, 0, 0, 0.3);

    /* GRID-GAP */
    --GAP: 10px;


}

/* UTILITIES CLASSES */
.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

.offscreen {
    position: absolute;
    left: -10000px;
}
/* || GENERAL STYLE */

li {
    list-style-type: none;
}

html {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    /* color: var(--FONT-COLOR); */
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(0deg,var(--HEADER-BG-COLOR),
    var(--ABOUT-BG-COLOR),
    var(--CONTACT-BG-COLOR), var(--ABOUT-BG-COLOR));
    font-size: var(--FS);
    font-family: var(--FF);
    overflow-x: hidden;
}

h1, h2, h3 {
    letter-spacing: 0.1em;
}

h3 {
    text-align: center;
}

p {
    line-height: 1.5;
}

a:any-link, a:active {
    text-decoration: none;
    color: var(--FONT-COLOR);
}

a:hover, a:focus-visible {
    font-weight: bold;
}


/* || BUTTONS STYLES */

.btn {
    min-width: clamp(10em, 2.2vh, 1.5em);
    height: clamp(2.5em, 2.2vh, 1.5em);
    margin-right: var(--MARGIN-SIDE);
    padding: var(--PADDING-TB);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--FONT-COLOR);
    background-color: var(--HEADER-BG-COLOR);
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: var(--BORDER-RADIUS);
    box-shadow: var(--BOX-SHADOW);
}

/* || ICONS STYLES */
.icon {
    color: var(--FONT-COLOR);
    font-size: var(--FS);
}

/* || HEADER STYLE */
/* Mobile first design from Iphone 6/7/8 to large screens*/
header {
    position: relative;
    top: 0;
    left: 0;
    min-height: 8vh;
    min-width: 100vw;
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
    display: flex;
    align-items: center;
    background-color: var(--HEADER-BG-COLOR);
}

.accueil__img {
    display: none; /*hide the main image*/
}

/* animation hamburger button*/
.header__nav-toggler {
    position: absolute;
    top: 2%;
    right: 2%;
    min-height: 30px;
    min-width: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.line {
    position: absolute;
    display: block;
    background: var(--FONT-COLOR);
    min-width: 100%;
    height: 2px;
    transition: transform 0.3s ease-out;
    opacity: 0.1s ease-out;
}
.l1 {
    transform: translateY(-10px);
}
.l3 {
    transform: translateY(10px);
}
.header__nav-toggler.active .l1 {
    transform: translateY(0px) rotate(135deg);
}
.header__nav-toggler.active .l2 {
    opacity: 0;
}
.header__nav-toggler.active .l3 {
    transform: translateY(0px) rotate(-135deg);
}
 /* nav styling */

nav ul{
    left: 0;
    z-index: 1;
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--HEADER-BG-COLOR);
    transform: translateX(100%);
    transition: transform 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84);
 }

 .header__call{
    position: relative;
    z-index: 2;
 }

 nav ul.active {
    transform: translate(0%);
 }

 nav ul a {
    display: block;
    margin: var(--MARGING-TB) 0;
    font-size: var(--FS);

 }

 /* || Home style */
 .accueil {
    position: relative;
    color: var(--FONT-COLOR);
    text-align: center;
    padding-left: var(--PADDING-SIDE);
    padding-right: var(--PADDING-SIDE);
    height: 34vh;
    min-width: 99%;
    background-color: var(--HEADER-BG-COLOR);
    background-image: url("images/wave.png");
    background-repeat: no-repeat ;
    background-position: bottom left;
    background-size: 160% 80%;
}


.accueil__hero {
    display: inline-block;
}

.accueil p {
    margin-bottom: var(--MARGING-TB);
    font-weight: 500;
}


.accueil p:nth-child(1) {
    margin-bottom: 20px;
    font-size: larger;
}

strong {
    font-size: 1.6em;
    font-weight: var(--FW);
}

.accueil__btn {
    position: absolute;
    bottom: 1%;
    right: 0;
 }

 /* || About Style */

 .about {
    position: relative;
    color: var(--FONT-COLOR);
    background-color: var(--ABOUT-BG-COLOR);
    min-height: 82vh;
    display: flex;
    flex-flow: column nowrap;
    padding-left: var(--PADDING-SIDE);
    padding-right: var(--PADDING-SIDE);
}

.about__h2 {
    text-align: center;
    margin-top: var(--MARGING-TB);
}

.formation, .identity{
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
}

hr {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--MARGING-TB);
    opacity: 0.5;
}

.about__img {
    position: absolute;
    bottom: 0;
    max-width: 28%;
    left: 5;
}

.btn-about {
    position: absolute;
    right: 4%;
    bottom: 50px;
}

/* || Mes Projets Style */
 #mesProjets {
    position: relative;
    color: var(--FONT-COLOR);
    background-color: var(--HEADER-BG-COLOR);
    min-height: 60vh;
}

/*scroll horizontal setting*/
.media-scroller {
    margin-top: var(--MARGING-TB);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 84%;
    gap: var(--GAP);
    overflow-x: auto;
    overscroll-behavior-inline: contain;
   padding: 0 var(--PADDING-SIDE) var(--PADDING-SIDE) var(--PADDING-TB);
 }


.snaps-inline {
    scroll-snap-type: x mandatory;
    scroll-padding-inline: var(--PADDING-SIDE);
    
}

.snaps-inline > * {
    scroll-snap-align: center;
}

 .card {
    border: none;
    border-radius: var(--BORDER-RADIUS);
    height: min(430px, 600px);
    width: min(100%, 600px);
    background-color: rgba(217, 217, 217, 0.13);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--PADDING-SIDE);
    padding-right: var(--PADDING-SIDE);
    box-shadow: var(--BOX-SHADOW);
 }

 #video_demo {
    border: var(--BORDER-CLASSIC);
    min-height: 200px;
    width: min(80%, 400px);
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--MARGING-TB);
}

.technos {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.btn-mesProjets {
    background-color: var(--CONTACT-BG-COLOR);
    font-weight: 550;
    margin-bottom: var(--MARGING-TB);
    margin-top: var(--MARGING-TB);
}


/* ||CONTACTEZ-MOI STYLING */
#contact {
    color: var(--FONT-COLOR);
    background-color: var(--CONTACT-BG-COLOR);
    min-height: 50vh;
    max-width: 99%;
    padding-left: var(--PADDING-SIDE);
    padding-right: var(--PADDING-SIDE);
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
}
 /* Form styling*/
form {
    min-width: 90%;
    max-height: 40vh;
    position: relative;
    border: none;
    border-radius: var(--BORDER-RADIUS);
    background-color: rgba(217, 217, 217, 0.2);
    box-shadow: var(--BOX-SHADOW);
    padding: var(--PADDING-TB);
    margin-bottom: var(--MARGING-TB);
    align-self: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 5px;
}

#prenom {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#email {
    grid-column: 1 / 3;
    grid-row: 2 /3;
}
#message {
    position: relative;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    height: 120px;
}

#message::placeholder {
    position: absolute;
    top: 0;
    left: 0;
}

::placeholder {
    color: var(--FONT-COLOR);
    font-size: var(--FS);
    align-items: center;
    padding: var(--PADDING-SIDE);
}
input {
    margin-top: var(--MARGING-TB);
    border: none;
    background-color: rgba(217, 217, 217, 0.6);
    border-radius: var(--BORDER-RADIUS);
    color: var(--FONT-COLOR);
    width: 100%;
    min-height: clamp(2em, 2.2vh, 1.5em);
}

.btn-contact {
    position: absolute;
    bottom: 5px;
    right: 1px;
}

/* || FOOTER STYLING */
footer {
    min-height: 20vh;
    min-width: 99%;
    background-color: var(--ABOUT-BG-COLOR);
    color: var(--FONT-COLOR);
    position: relative;
    padding-left: var(--PADDING-SIDE);
    padding-right: var(--PADDING-SIDE);
}

.siteMap {
    position: absolute;
    top: 0;
    right: 1px;
    display: flex;
    flex-flow: column nowrap;
    margin-right: var(--MARGING-TB);
}

.copyright {
    position: absolute;
    bottom: 1px;
    /* left: 50px; */
    width: 100%;
    text-align: center;
    font-size: smaller;
}

.socials {
    position: absolute;
    left: 10px;
    top: 50%;
}

.btn-footer {
    position: absolute;
    top: 5px;
}

/*reveal elements setting*/
.reveal {
    position: relative;
    transform: translateX(-50px);
    opacity: 0;
    transition: all 2.2s ease;
}
.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}


/* || Design for very small mobile screen */
@media screen and (min-width: 320px) and (max-width: 374px) {
    .siteMap {
        position: absolute;
        display: flex;
        flex-flow: row-reverse wrap;
        top: 40%;
        left: 20%;
        font-size: clamp(0.9em, 1.1vh, 0.75em);
        gap: 5px;
    }
    /* || Mes Projets Style */
 #mesProjets {
    min-height: 50vh;
}

 .card {
    height: min(375px, 600px);
    width: min(100%, 600px);
    padding-bottom: var(--PADDING-TB);
 }
    
}



/* || Design for tablet */
 
@media screen and (min-width: 768px) and (max-width: 1023px){
    /* header styling */
    header {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        font-size: clamp(0.5em, 1.1vh, 0.75em);
        padding-top: 0px;
    }
    
    .header__nav-toggler {
        display: none;
    }
    
     /* nav styling */
    
    nav ul{
        position: absolute;
        top: 0;
        display: flex;
        flex-flow: row nowrap;
        transform: translateX(0);
        min-height: 100%;
    }

    .header__nav {
        position: absolute;
        left: 18%;
        height: 100%;
        min-width: 50%;
        
    }
    
    .header__call{
        position: relative;
    }

     nav ul a {
        display: inline;
        margin: 0;
    }
    .accueil__btn {
        position: absolute;
        bottom: 1%;
        right: 2%;
    }
    
    /* About section styling */
    .btn-about {
        position: absolute;
        bottom: 15%;
    }

    .about {
        min-height: 85vh;
    }
    .about__img {
        max-width: 25%;
    }
   
    /* || Mes Projets Style */
    #mesProjets {
        min-height: 50vh;
    }

    .media-scroller {
        grid-auto-columns: 78%;
    }

    .card {
        height: min(480px, 600px);
    }

    /* Contact-me styling */
    #contact p{
        margin-left: 5%;
    }

    /*Footer styling */
    .socials {
        margin-left: 1%;
    }

    #message {
        height: 225px;
    }
}

/* || Design for PC */
@media screen and (min-width: 1024px)  and (max-width: 1999px) {
    /* Header and accueil section designing*/

        /* header styling */
        header {
            position: relative;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            font-size: clamp(0.5em, 1.1vh, 0.75em);
            padding-top: 0px;
        }
        
        .header__nav-toggler {
            display: none;
        }
        
         /* nav styling */
        
        nav ul{
            position: absolute;
            top: 0;
            display: flex;
            flex-flow: row nowrap;
            transform: translateX(0);
            min-height: 100%;
        }
    
        .header__nav {
            position: absolute;
            left: 18%;
            height: 90%;
            min-width: 50%;
            
        }
        
    .accueil {
        position: relative;
        color: var(--FONT-COLOR);
        min-height: 35vh;
        width: 100%;
        background-size: 106% 60%;
    }

    .accueil__img {
        display: block; /*show the main image*/
        float: right;
        position: absolute;
        max-width: 20%;
        bottom: 0px;
        right: 3%;
        max-width: 23.5%;
    }

    .header__call {
        display: none;
    }

    .accueil__hero {
        position: absolute;
        left: 15%;
        top: 3%;
        text-align: justify;
        min-width: 390px;
        height: min(280px, 285px);
        font-size: clamp(0.6em, 2.2vh, 1.5em);
    }
    
    .accueil__btn {
        position: absolute;
        bottom: 0%;
        right: 0%; 
        margin: var(--MARGING-TB);
    }
    
    /*  || About styling */
    .about__img {
        max-width: 18%;
    }

    .about {
        min-height: 78vh;
    }

    .btn-about {
        position: absolute;
        bottom: 17%;
    }
    /* || Mes Projets Style */
    #mesProjets {
        min-height: 55vh;
    }

    /*scroll horizontal setting*/
    .media-scroller {
        grid-auto-columns: 64%;
    }

    .card {
        height: min(500px, 600px);
        width: min(100%, 600px);
    }


    /* || Contact-me styling */
    #message {
        min-height: 145px;
    }
    
}


/* || LAPTOP LARGE 1440px */
@media screen and (min-width: 1200px) and (max-width: 1439px) {
    /* header styling */
    header {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        font-size: clamp(0.5em, 1.1vh, 0.75em);
        padding-top: 0px;
    }

    .header__nav-toggler {
        display: none;
    }

    /* nav styling */

    nav ul{
        position: absolute;
        top: 0;
        display: flex;
        flex-flow: row nowrap;
        transform: translateX(0);
        min-height: 100%;
    }

    .header__nav {
        position: absolute;
        left: 18%;
        height: 90%;
        min-width: 50%;
        
    }


    .accueil {
        position: relative;
        color: var(--FONT-COLOR);
        min-height: 40vh;
        width: 100%;
        background-size: 106% 60%;
    }

    .accueil__img {
        display: block; /*show the main image*/
        float: right;
        position: absolute;
        max-width: 20%;
        bottom: 0px;
        right: 10%;
        max-width: 23%;
    }

    .header__call {
        display: none;
    }

    .accueil__hero {
        position: absolute;
        left: 15%;
        top: 3%;
        text-align: justify;
        min-width: 390px;
        min-height: 320px;
        font-size: clamp(1.2em, 2.2vh, 1.5em);
    }

    .accueil__btn {
        position: absolute;
        bottom: 0%;
        right: 0%; 
        margin: var(--MARGING-TB);
    }

    /*  || About styling */
    .about {
        display: flex;
        flex-flow: row;
        padding-left: var(--PADDING-SIDE);
        padding-right: var(--PADDING-SIDE);
        min-height: 40vh;
        min-width: 100%;
    }

    .about h3 {
        position: absolute;
        top: 0;
        left: 50%;
    }

    .about__h2 {
        text-align: left;
    }

    .about__info1 {
        position: absolute;
        top: 10%;
        left: 19%;
        text-align: left;
    }

    .about__info2 {
        position: absolute;
        width: 550px;
        top: 10%;
        right: 0%;
    }

    hr {
        position: absolute;
        right: 80%;
        top: 50%;
        width: 50%;
        opacity: 0.5;
        transform: rotate(90deg);
    }

    .about__img {
        position: absolute;
        top: 10%;
        left: 0;
        max-width: 19%;
    }    
    .btn-about {
        position: absolute;
        right: 0%;
        bottom: 2%;
    }

    /* || Contact-me styling */
    #contact {
        min-height: 50vh;
        max-width: 100%;
    }
   /* Form styling*/
   form {
        min-width: 60%;
        max-height: 42vh;
        position: absolute;
        right: 10%;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    .btn-contact {
        bottom: 2%;
    }

    #message {
        height: 130px;
    }
    #contact p{
        position: absolute;
        left: 2%;
        margin-top: 20%;
    }


}
/* || LAPTOP LARGE 1440px */
@media screen and (min-width: 1440px) and (max-width: 1919px) {
     /* header styling */
     header {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        font-size: clamp(1em, 1.1vh, 2em);
        padding-top: 0px;
    }

    .header__nav-toggler {
        display: none;
    }

    /* nav styling */

    nav ul{
        position: absolute;
        top: 0;
        display: flex;
        flex-flow: row nowrap;
        transform: translateX(0);
        min-height: 100%;
    }

    .header__nav {
        position: absolute;
        left: 21%;
        height: 90%;
        min-width: 50%;
        
    }

    .accueil {
        position: relative;
        color: var(--FONT-COLOR);
        min-height: 40vh;
        width: 100%;
        background-size: 106% 80%;
    }

    .accueil__img {
        display: block; /*show the main image*/
        float: right;
        position: absolute;
        max-width: 20%;
        bottom: 0px;
        right: 10%;
        max-width: 20%;
    }

    .header__call {
    display: none;
    }

    .accueil__hero {
        position: absolute;
        left: 20%;
        top: 3%;
        text-align: justify;
        min-width: 390px;
        min-height: 320px;
        font-size: clamp(1.2em, 2.2vh, 1.5em);
    }

    .accueil__btn {
    position: absolute;
    bottom: 0%;
    right: 0%; 
    margin: var(--MARGING-TB);
    }

    /*  || About styling */
    .about {
        display: flex;
        flex-flow: row;
        padding-left: var(--PADDING-SIDE);
        padding-right: var(--PADDING-SIDE);
        min-height: 50vh;
        min-width: 100%;
    }

    .about h3 {
    position: absolute;
    top: 0;
    left: 50%;
    }

    .about__h2 {
        text-align: left;
    }

    .about__info1 {
        position: absolute;
        top: 10%;
        left: 20%;
        text-align: left;
    }

    .about__info2 {
        position: absolute;
        width: 550px;
        top: 10%;
        right: 6%;
    }

    hr {
    position: absolute;
    right: 80%;
    top: 50%;
    width: 50%;
    opacity: 0.5;
    transform: rotate(90deg);
    }

    .about__img {
    position: absolute;
    top: 10%;
    left: 0;
    max-width: 18%;
    }

    .btn-about {
        position: absolute;
        right: 0%;
        bottom: 3%;
    }

    #mesProjets {
        min-height: 50vh;
    }

    .media-scroller {
        grid-auto-columns: 50%;
    }

    .card {
        height: min(480px, 600px);
    }


    /* || Contact-me styling */
    #contact {
        min-height: 55vh;
        max-width: 100%;
    }
   /* Form styling*/
   form {
        min-width: 50%;
        max-height: 40vh;
        position: absolute;
        right: 15%;
        margin-top: 5%;
    }

    .btn-contact {
        bottom: 2%;
    }

    #message {
        height: 140px;
    }
    #contact p{
        position: absolute;
        left: 8%;
        margin-top: 15%;
    }

}

@media screen and (min-width: 1920px) and (max-width: 2560px) {
         /* header styling */
         header {
            position: relative;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            font-size: clamp(1em, 1.1vh, 2em);
            padding-top: 0px;
        }
    
        .header__nav-toggler {
            display: none;
        }
    
        /* nav styling */
    
        nav ul{
            position: absolute;
            top: 0;
            display: flex;
            flex-flow: row nowrap;
            transform: translateX(0);
            min-height: 100%;
        }
    
        .header__nav {
            position: absolute;
            left: 21%;
            height: 90%;
            min-width: 50%;
            
        }
    
        .accueil {
            position: relative;
            color: var(--FONT-COLOR);
            min-height: 45vh;
            width: 100%;
            background-size: 106% 80%;
        }
    
        .accueil__img {
            display: block; /*show the main image*/
            float: right;
            position: absolute;
            max-width: 20%;
            bottom: 0px;
            right: 10%;
            max-width: 20%;
        }
    
        .header__call {
        display: none;
        }
    
        .accueil__hero {
            position: absolute;
            left: 20%;
            top: 3%;
            text-align: justify;
            min-width: 400px;
            min-height: 450px;
            font-size: clamp(1.3em, 2.2vh, 1.5em);
        }
    
        .accueil__btn {
            position: absolute;
            bottom: 0%;
            right: 0%; 
            margin: var(--MARGING-TB);
        }
    
        /*  || About styling */
        .about {
            display: flex;
            flex-flow: row;
            padding-left: var(--PADDING-SIDE);
            padding-right: var(--PADDING-SIDE);
            min-height: 50vh;
            min-width: 100%;
        }
    
        .about h3 {
            position: absolute;
            top: 0;
            left: 50%;
        }
    
        .about__h2 {
            text-align: left;
        }
    
        .about__info1 {
            position: absolute;
            top: 10%;
            left: 25%;
            text-align: left;
        }
    
        .about__info2 {
            position: absolute;
            width: 550px;
            top: 10%;
            right: 15%;
        }
    
        hr {
            position: absolute;
            right: 100%;
            top: 50%;
            width: 50%;
            opacity: 0.5;
            transform: rotate(90deg);
        }
    
        .about__img {
            position: absolute;
            top: 10%;
            bottom: 0;
            left: 0;
            max-width: 18.3%;
        }
    
        .btn-about {
            position: absolute;
            right: 10%;
            bottom: 5%;
        }
        
        /*mES PROJETS STYLING   */
        #mesProjets {
            min-height: 50vh;
        }
    
        .media-scroller {
            grid-auto-columns: 38%;
        }
    
        .card {
            height: min(480px, 600px);
        }

        /* || Contact-me styling */
        #contact {
            min-height: 55vh;
            max-width: 100%;
        }
       /* Form styling*/
       form {
            min-width: 45%;
            max-height: 40vh;
            position: absolute;
            right: 25%;
            margin-top: 5%;
        }
    
        .btn-contact {
            bottom: 2%;
        }
    
        #message {
            height: 180px;
        }
        #contact p{
            position: absolute;
            left: 10%;
            margin-top: 15%;
        }

}