@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* || RESET */
*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 35%;
    height: auto;
}

input, button {
    font: inherit;
}

/* || VARIABLES */

:root{


    /* FONTS */
    --FF: "Poppins", sans-serif;
    --FS: clamp(1em, 2.2vh, 1.5em);

    /* COLORS */
    --HEADER-BG-COLOR: #143AA2;
    --ABOUT-BG-COLOR: rgba(4, 6, 13, 0.9);
    --CONTACT-BG-COLOR: #3E8DE3;
    --FONT-COLOR: #FFF;

    /* PADDING */
    --PADDING-TB: 2%;
    --PADDING-SIDE: 2%;

    /* MARGING */   
    --MARGING-TB: 2%;
    --MARGIN-SIDE: 2%;

    /* BORDERS */
    --BORDER-CLASSIC: 1px solid rgb(246, 242, 242);
    --BORDER-RADIUS: 10px;
    --BOX-SHADOW: 5px 4px 4px rgba(0, 0, 0, 0.3);


}

/* UTILITIES CLASSES */
.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

.offscreen {
    position: absolute;
    left: -10000px;
}
/* || GENERAL STYLE */

li {
    list-style-type: none;
}

html {
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    /* color: var(--FONT-COLOR); */
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(var(--HEADER-BG-COLOR),
    var(--ABOUT-BG-COLOR),
    var(--CONTACT-BG-COLOR), var(--ABOUT-BG-COLOR));
    font-size: var(--FS);
    font-family: var(--FF);
    overflow-x: hidden;
}

h1, h2, h3 {
    letter-spacing: 0.1em;
}

h3 {
    text-align: center;
}

p {
    line-height: 1.5;
}

a:any-link, a:active {
    text-decoration: none;
    color: var(--FONT-COLOR);
}

a:hover, a:focus-visible {
    font-weight: bold;
}


/* || BUTTONS STYLES */

.btn {
    min-width: clamp(10em, 2.2vh, 1.5em);
    height: clamp(2.5em, 2.2vh, 1.5em);
    margin-right: var(--MARGIN-SIDE);
    padding: var(--PADDING-TB);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--FONT-COLOR);
    background-color: var(--HEADER-BG-COLOR);
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: var(--BORDER-RADIUS);
    box-shadow: var(--BOX-SHADOW);
}

/* || ICONS STYLES */
.icon {
    color: var(--FONT-COLOR);
    font-size: var(--FS);
}

/* || HEADER STYLE */
/* Mobile first design from Iphone 6/7/8 to large screens*/
header {
    position: relative;
    top: 0;
    left: 0;
    min-height: 8vh;
    min-width: 100vw;
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
    display: flex;
    align-items: center;
    background-color: var(--HEADER-BG-COLOR);
}

.accueil__img {
    display: none; /*hide the main image*/
}

/* animation hamburger button*/
.header__nav-toggler {
    position: absolute;
    top: 2%;
    right: 2%;
    min-height: 30px;
    min-width: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.line {
    position: absolute;
    display: block;
    background: var(--FONT-COLOR);
    min-width: 100%;
    height: 2px;
    transition: transform 0.3s ease-out;
    opacity: 0.1s ease-out;
}
.l1 {
    transform: translateY(-10px);
}
.l3 {
    transform: translateY(10px);
}
.header__nav-toggler.active .l1 {
    transform: translateY(0px) rotate(135deg);
}
.header__nav-toggler.active .l2 {
    opacity: 0;
}
.header__nav-toggler.active .l3 {
    transform: translateY(0px) rotate(-135deg);
}
 /* nav styling */

nav ul{
    left: 0;
    z-index: 1;
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--HEADER-BG-COLOR);
    transform: translateX(100%);
    transition: transform 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84);
 }

 .header__call{
    position: relative;
    z-index: 2;
 }

 nav ul.active {
    transform: translate(0%);
 }

 nav ul a {
    display: block;
    margin: var(--MARGING-TB) 0;
    font-size: var(--FS);

 }

 /* || Home style */
 .accueil {
    position: relative;
    color: var(--FONT-COLOR);
    text-align: center;
    padding-left: var(--PADDING-SIDE);
    padding-right: var(--PADDING-SIDE);
    min-height: 30vh;
    min-width: 99%;
    background-color: var(--HEADER-BG-COLOR);
    background-image: url("images/wave.png");
    background-repeat: no-repeat ;
    background-position: bottom left;
    background-size: 160% 80%;
}

.accueil p {
    margin-bottom: var(--MARGING-TB);
}

.accueil__btn {
    position: absolute;
    bottom: 1;
    right: 0;
 }

 /* || About Style */

 .about {
    position: relative;
    color: var(--FONT-COLOR);
    background-color: var(--ABOUT-BG-COLOR);
    min-height: 90vh;
    display: flex;
    flex-flow: column nowrap;
    padding-left: var(--PADDING-SIDE);
    padding-right: var(--PADDING-SIDE);
}

.about__h2 {
    text-align: center;
    margin-top: var(--MARGING-TB);
}

.formation, .identity{
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
}

hr {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--MARGING-TB);
    opacity: 0.5;
}

.about__img {
    position: absolute;
    bottom: 0;
    left: 5;
}

.btn-about {
    position: absolute;
    right: 0;
    bottom: 50px;
}

/* || Mes Projets Style */
 #mesProjets {
    color: var(--FONT-COLOR);
    background-color: var(--HEADER-BG-COLOR);
    min-height: 80vh;
    padding-left: var(--PADDING-SIDE);
    padding-right: var(--PADDING-SIDE);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

 }

 .card {
    border: none;
    border-radius: var(--BORDER-RADIUS);
    min-height: 75vh;
    width: min(90%, 600px);
    margin-top: var(--MARGING-TB);
    background-color: rgba(217, 217, 217, 0.13);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--PADDING-SIDE);
    padding-right: var(--PADDING-SIDE);
    box-shadow: var(--BOX-SHADOW);
 }

 #video_demo {
    border: var(--BORDER-CLASSIC);
    min-height: 300px;
    width: min(80%, 400px);
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--MARGING-TB);
}

.technos {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.btn-mesProjets {
    background-color: var(--CONTACT-BG-COLOR);
    font-weight: 550;
    margin-bottom: var(--MARGING-TB);
    margin-top: var(--MARGING-TB);
}


/* ||CONTACTEZ-MOI STYLING */
#contact {
    color: var(--FONT-COLOR);
    background-color: var(--CONTACT-BG-COLOR);
    min-height: 50vh;
    max-width: 99%;
    padding-left: var(--PADDING-SIDE);
    padding-right: var(--PADDING-SIDE);
    display: flex;
    flex-flow: column nowrap;
    /* align-items: center; */
    gap: 1em;
}
 /* Form styling*/
form {
    min-width: 90%;
    max-height: 40vh;
    position: relative;
    border: none;
    border-radius: var(--BORDER-RADIUS);
    background-color: rgba(217, 217, 217, 0.2);
    box-shadow: var(--BOX-SHADOW);
    padding: var(--PADDING-TB);
    margin-bottom: var(--MARGING-TB);
    align-self: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 5px;
}

#prenom {
    position: absolute;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    top: 0;
    right: 0;
}

#email {
    grid-column: 1 / 3;
    grid-row: 2 /3;
}
#message {
    position: relative;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    height: 120px;
}

#message::placeholder {
    position: absolute;
    top: 0;
    left: 0;
}

::placeholder {
    color: var(--FONT-COLOR);
    font-size: var(--FS);
    align-items: center;
    padding: var(--PADDING-SIDE);
}
input {
    margin-top: var(--MARGING-TB);
    border: none;
    background-color: rgba(217, 217, 217, 0.6);
    border-radius: var(--BORDER-RADIUS);
    color: var(--FONT-COLOR);
    width: 100%;
    min-height: clamp(2em, 2.2vh, 1.5em);
}

.btn-contact {
    position: absolute;
    bottom: 5px;
    right: 1px;
}

/* || FOOTER STYLING */
footer {
    min-height: 20vh;
    min-width: 99%;
    background-color: var(--ABOUT-BG-COLOR);
    color: var(--FONT-COLOR);
    position: relative;
    padding-left: var(--PADDING-SIDE);
    padding-right: var(--PADDING-SIDE);
}

.siteMap {
    position: absolute;
    top: 0;
    right: 1px;
    display: flex;
    flex-flow: column nowrap;
    margin-right: var(--MARGING-TB);
}

.copyright {
    position: absolute;
    bottom: 1px;
    left: 50px;
    font-size: smaller;
}

.socials {
    position: absolute;
    left: 10px;
    top: 50%;
}

.btn-footer {
    position: absolute;
    top: 5px;
}

/* || Design for tablet */
 
@media screen and (min-width: 768px) {
    /* header styling */
    header {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        font-size: clamp(0.5em, 1.1vh, 0.75em);
        padding-top: 0px;
    }
    
    .header__nav-toggler {
        display: none;
    }
    
     /* nav styling */
    
    nav ul{
        position: absolute;
        top: 0;
        display: flex;
        flex-flow: row nowrap;
        transform: translateX(0);
        min-height: 100%;
    }

    .header__nav {
        position: absolute;
        left: 18%;
        height: 100%;
        min-width: 50%;
        
    }
    
    .header__call{
        position: relative;
    }

     nav ul a {
        display: inline;
        margin: 0;
    }
    
    /* About section styling */
    .btn-about {
        position: absolute;
        right: 0;
        bottom: 15%;
    }

    
}